{{!< layout}}
{{#contentFor "faq_body"}}
    <h1>{{faq.title}}</h1>
    <article id="content">
        {{{faq.content}}}
    </article>

    <p>作者：{{faq.author}} | 时间：{{{faq.time}}} | 状态：{{faq.state}}</p>

{{/contentFor}}

{{#contentFor "faq_js"}}
<script src="/public/ueditor/ueditor.parse.min.js"></script>
<script>
    uParse('#content',{
        rootPath:'/public/ueditor/'
    });
</script>
{{/contentFor}}